$veronica:        #9E3FFD;
$electric-indigo: #5E17EB;
$raspberry-rose:  #bc496c;
$xanthous:        #ebb229;
$white-smoke:     #FBFAFE;
$space-cadet:     #16163f;
$slate-gray:      #73738c;
$oxford-blue:      #080E2C;

$primary: $veronica;
$primary-faded: #BAAAFA;
$primary-darker: #8B55F8;
$secondary: $electric-indigo;
$tertiary: $xanthous;
$white: $white-smoke;
$black: #080e2c;
$gray: #24252a;

$text-color-1: $slate-gray;
$text-color-2: $space-cadet;
$text-color-3: $white-smoke;

$nav-link: $text-color-1 ;
$nav-link-hovered: $primary;

$button-text-color: $primary;
$button-text-color-hovered: $white;
