@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$font_0: normal normal 800 5.625rem/1.4em 'Work Sans', sans-serif;
$font_2: normal normal 600 5rem/1.4em 'Work Sans', sans-serif;
$font_3: normal normal normal 3rem/1.4em 'Montserrat', sans-serif;
$font_4: normal normal 600 2.25rem/1.4em 'Work Sans', sans-serif;
$font_5: normal normal 600 1.625rem/1.4em 'Work Sans', sans-serif;
$font_6: normal normal normal 1.5rem/1.4em 'Montserrat', sans-serif;
$font_7: normal normal normal 1.25rem/1.4em 'Montserrat', sans-serif;
$font_8: normal normal normal 1.125rem/1.4em 'Montserrat', sans-serif;
$font_9: normal normal normal 1rem/1.4em 'Montserrat', sans-serif;
