@use 'fonts';
@use 'colors';
@forward 'colors';
@forward 'fonts';

@mixin font_0 {
  font: fonts.$font_0;
  color: colors.$text-color-2;
  letter-spacing: 0em;
}
@mixin font_1 {
  font: fonts.$font_1;
  color: colors.$text-color-2;
  letter-spacing: 0em;
}
@mixin font_2 {
  font: fonts.$font_2;
  color: colors.$text-color-1;
  letter-spacing: 0em;
}
@mixin font_3 {
  font: fonts.$font_3;
  color: colors.$text-color-1;
  letter-spacing: 0em;
}
@mixin font_4 {
  font: fonts.$font_4;
  color: colors.$text-color-1;
  letter-spacing: 0em;
}
@mixin font_5 {
  font: fonts.$font_5;
  color: colors.$text-color-1;
  letter-spacing: 0em;
}
@mixin font_6 {
  font: fonts.$font_6;
  color: colors.$text-color-1;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  font-weight: 600;
}
@mixin font_7 {
  font: fonts.$font_7;
  color: colors.$text-color-1;
  letter-spacing: 0em;
}
@mixin font_8 {
  font: fonts.$font_8;
  color: colors.$text-color-1;
  letter-spacing: 0em;
}
@mixin font_9 {
  font: fonts.$font_9;
  color: colors.$text-color-1;
  letter-spacing: 0em;
}
@mixin font_10 {
  font: fonts.$font_10;
  color: colors.$text-color-2;
  letter-spacing: 0em;
}

@mixin primary-button {
  @include font_8;
  background-color: transparent;
  color: colors.$button-text-color;
  border: 2px solid colors.$primary;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
}

@mixin primary-button--hovered {
  background-color: colors.$primary;
  color: colors.$button-text-color-hovered;
}
